allure-pytest==2.14.3
allure-python-commons==2.14.3
atomicwrites==1.4.1
attrs==24.1.0
certifi==2025.4.26
colorama==0.4.6
lxml==5.1.0
more-itertools==10.1.0
namedlist==1.8
pluggy==1.5.0
pytest==8.3.5
requests==2.32.3
six==1.16.0
xlrd==2.0.1
